html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:    0 auto;
    max-width: 900px;
    background-color: green;
}

.game-container{
    padding: 10px;
}

#dealers-cards, #players-cards {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 50px;
   margin-bottom: 50px;
}

button {
    margin-top: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    margin: 20px;
    margin-top: -5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
  
button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }

.hidden {
    visibility: hidden;
}


.card {
    font-size: 30px;
}